*.rpyc
*.rpymc
*.bak
*.DS_Store

*.rpa

cache/
saves/

log.txt
errors.txt
traceback.txt
project.json

.vscode/

**/.DS_Store

*.png
*.jpg
*.jpeg
*.mp3
*.ogg
*.wav
*.ttf
*.otf